/* style.css */

#likeBtn {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.thumb-container {
    margin-top: 30px;
    font-size: 50px;
    display: none; /* caché au début */
    position: relative;
}

.thumb-container.show {
    display: block;
    animation: thumbsUpAnimation 1s ease-in-out;
}

/* Animation pour le pouce qui grandit */
@keyframes thumbsUpAnimation {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}